<div class="w-full flex justify-center gap-4 h-full pt-8 pb-16 px-8 md:px-12 lg:px-24 xl:px-48">
  <div class="flex flex-col w-full">
    <div class="flex flex-wrap justify-between w-full relative gap-2">
      <div class="flex gap-2 w-full md:w-96">
        <input
          class="flex-1! px-2 py-1 border border-gray-300"
          type="text"
          placeholder="Title or Description"
          [(ngModel)]="searchText"
          (keyup.enter)="search()"
        />
        <button (click)="search()" class="button-nav border!">Buscar</button>
      </div>
      <button
        (click)="isModalOpen.set(!isModalOpen())"
        #btnTrigger
        class="button-nav order-3! h-fit self-center {{
          isModalOpen() ? 'bg-emerald-400 text-white' : ''
        }}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75"
          />
        </svg>
      </button>
      @if (isModalOpen()) {
        <app-floating-dropdown [trigger]="btnTrigger" (onClose)="isModalOpen.set(false)">
          <div class="flex flex-col gap-2 form-filter w-64 p-3">
            <select [(ngModel)]="selectedStatus" title="List status" (change)="applyFilters()">
              <option value="">All Status</option>
              <option value="TODO">Todo</option>
              <option value="IN_PROGRESS">In Progress</option>
              <option value="IN_REVIEW">In Review</option>
              <option value="DONE">Completed</option>
            </select>
            <select [(ngModel)]="selectedPriority" title="List Priority" (change)="applyFilters()">
              <option value="">All Priorities</option>
              <option value="LOW">Low</option>
              <option value="MEDIUM">Medium</option>
              <option value="HIGH">High</option>
            </select>
            <label class="flex flex-col">
              From:
              <input
                type="datetime-local"
                [(ngModel)]="dueFrom"
                (change)="applyFilters()"
                class="bg-white! px-2 py-1"
              />
            </label>
            <label class="flex flex-col">
              To:
              <input
                type="datetime-local"
                [(ngModel)]="dueTo"
                (change)="applyFilters()"
                class="bg-white! px-2 py-1"
              />
            </label>
            <label class="flex justify-between">
              Overdue
              <input
                type="checkbox"
                class="w-4"
                [(ngModel)]="isOverdue"
                (change)="applyFilters()"
              />
            </label>
          </div>
        </app-floating-dropdown>
      }
      <div class="flex items-center md:order-first">
        <button
          class="{{
            isActive === '1' ? 'bg-emerald-400 text-white' : ''
          }} border border-gray-200 px-2 rounded-xs cursor-pointer"
          (click)="setActive('1')"
        >
          All
        </button>
        <button
          class="{{
            isActive === '2' ? 'bg-emerald-400 text-white' : ''
          }} border border-gray-200 px-2 rounded-xs cursor-pointer"
          (click)="setActive('2')"
        >
          Assigned
        </button>
        <button
          class="{{
            isActive === '3' ? 'bg-emerald-400 text-white' : ''
          }} border border-gray-200 px-2 rounded-xs cursor-pointer"
          (click)="setActive('3')"
        >
          Created
        </button>
      </div>
    </div>
    <section class="w-full flex pb-8 max-h-full">
      <div class="flex-1 overflow-y-auto">
        <table class="w-full text-sm text-left border-collapse">
          <thead class="text-sm border-b rounded-base border-default sticky top-0 bg-white z-1">
            <tr>
              <th class="px-6 py-3 text-left">TITLE</th>
              <th class="px-6 py-3 text-left">DESCRIPTION</th>
              <th class="px-6 py-3 text-left">STATUS</th>
              <th class="px-6 py-3 text-left">PRIORITY</th>
              <th class="px-6 py-3 text-left">DUE DATE</th>
            </tr>
          </thead>
          <tbody class="h-full">
            @for (task of tasks(); track task.id) {
              <tr class="border-b border-default text-left">
                <th scope="row" class="px-6 py-4 font-medium">
                  {{ task.title }}
                </th>
                <td class="px-6 py-4 max-w-64">
                  @if (task.description) {
                    <p class="truncate">
                      {{ task.description }}
                    </p>
                  } @else {
                    <span>--</span>
                  }
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="rounded-sm px-2 w-fit" [style.background-color]="task.status.color">
                    {{ setStatusName(task.status.name) }}
                  </div>
                </td>
                <td class="px-6 py-4">
                  <div
                    class="rounded-sm px-2 w-fit"
                    [style.background-color]="setBgPriority(task.priority)"
                  >
                    {{ task.priority }}
                  </div>
                </td>
                <td class="px-6 py-4">
                  @if (task.dueDate) {
                    <span>{{ task.dueDate | date: 'dd/MM/yyyy' }}</span>
                  } @else {
                    <span>--/--/----</span>
                  }
                </td>
              </tr>
            } @empty {
              <tr>
                <td class="px-6 py-4 text-center" colspan="5">No tasks found</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
