
<div class="flex flex-col gap-3 min-w-64">
  <p>
    {{ project().description }}
  </p>
  <div class="flex gap-2">
    <span> Owner: </span>
    <div class="flex rounded-lg px-2 bg-gray-400 py-1">
      <img src="`{{ project().createdBy.avatar_url }}`" alt="" />
      <div class="flex flex-col">
        <span>{{ project().createdBy.username }}</span>
        <span class="text-sm text-gray-600 font-light">{{ project().createdBy.email }}</span>
      </div>
    </div>
  </div>
  <div class="text-sm text-gray-400 font-light">
    <span>
      {{ project().startDate | date: 'dd/MM/yyyy' }}
    </span>
    -
    <span>
      {{ project().endDate | date: 'dd/MM/yyyy' }}
    </span>
  </div>
</div>
