<button class="button-nav" (click)="openModal()">ABOUT</button>

@if (isModalOpen()) {
  <app-modal-layout
    modalTitle="ABOUT"
    (onClose)="isModalOpen.set(false)">

    <div class="flex flex-col gap-3 max-w-96">
        <p>
          {{project().description}}
        </p>
        <div class="flex gap-2">
        <span>
          Owner:
        </span>
        <div class="flex rounded-lg px-2 bg-gray-200">
          <img src=`{{project().createdBy.avatar_url}}` alt="">
          <div class="flex flex-col">
            <span>{{project().createdBy.firstName}} {{project().createdBy.lastName}}</span>
            <span class="text-sm text-gray-400 font-light">@{{project().createdBy.username}}</span>
          </div>
        </div>
      </div>
      <div class="text-sm text-gray-400 font-light">
        <span>
          {{project().startDate | date: "dd/MM/yyyy"}}
        </span>
        -
        <span>
          {{project().endDate | date: "dd/MM/yyyy"}}
        </span>
      </div>
    </div>

  </app-modal-layout>
}
