<div class="flex flex-col gap-4">
  <div class="flex gap-2 w-full">
    <textarea
      [(ngModel)]="content"
      class="w-full text-sm"
      placeholder="Type your comment"
      type="text"
      (click)="stopEdit()"
      (keyup.enter)="send()"
    ></textarea>
    <button
      class="cursor-pointer p-2 border border-gray-200 rounded-sm hover:bg-gray-100"
      (click)="send()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5"
        />
      </svg>
    </button>
  </div>
  @for (comment of comments(); track comment.id) {
    <div class="flex flex-col">
      <app-comment-card
        [comment]="comment"
        [taskId]="taskId()"
        [isEditing]="editingCommentId() === comment.id"
        (editRequested)="startEdit(comment.id)"
        (cancelEditRequested)="stopEdit()"
        (deleteRequested)="openDeleting(comment.id)"
        (cancelDeleteRequested)="closeDeleting()"
      ></app-comment-card>
      @if (deletingCommentId() === comment.id) {
        <app-dropdown-layout (onClickOutside)="closeDeleting()" class="sticky">
          <div class="flex flex-col w-48">
            <span> Are you sure you want to delete this comment? </span>
            <div class="flex w-full justify-around">
              <button class="bg-red-400 px-4 py-2 rounded-sm" (click)="deleteComment(comment.id)">Sure</button>
              <button class="bg-emerald-400 px-4 py-2 rounded-sm" (click)="closeDeleting()">Cancel</button>
            </div>
          </div>
        </app-dropdown-layout>
      }
    </div>
  }
</div>
