@if (task(); as t) {
  <app-modal-layout modalTitle="{{ setStatusName(statusId()) }}" (onClose)="taskInfoClosed()">
    <div
      class="flex md:divide-x md:flex-row divide-y md:divide-y-0 flex-col divide-gray-200 h-fit max-h-full overflow-y-auto md:overflow-y-hidden"
    >
      @if (authProject.isProjectAdmin() && this.statusId() != 4) {
        <section class="flex flex-col px-8 py-4 md:min-w-84 lg:min-w-104 gap-4 h-full">
          <div class="flex flex-wrap gap-2 items-center">
            <input
              class="bg-white! text-2xl font-semibold px-0! py-1! flex-1 field-sizing-content border-none!"
              (blur)="updateTaskTitle(title())"
              placeholder="Title"
              [(ngModel)]="title"
              type="text"
              maxlength="30"
            />
            <div class="flex {{ colorMap[priority()] }} px-2 py-1 rounded items-center gap-2 h-fit">
              <select
                title="priority"
                class="font-semibold! text-sm focus:outline-none justify-self-end self-center cursor-pointer"
                [(ngModel)]="priority"
                (change)="updateTaskPriority(priority())"
              >
                <option class="text-emerald-400" value="Low">Low</option>
                <option class="text-yellow-400" value="Medium">Medium</option>
                <option class="text-red-400" value="High">High</option>
              </select>
            </div>
          </div>
          <div class="flex flex-col h-fit max-w-full">
            <span class="flex items-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
                />
              </svg>
              Descritpion
            </span>
            <textarea
              title="Description"
              class="bg-white! text-sm px-0! py-1! field-sizing-content border-none! h-full max-w-88 min-h-12"
              (blur)="updateTaskDescription(description())"
              placeholder="Description"
              [(ngModel)]="description"
              type="text"
              maxlength="200"
            ></textarea>
          </div>
          <div class="flex items-center">
            <span class="text-sm flex items-start gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
                />
              </svg>

              Due Date:
            </span>
            <!-- <p>{{ t.dueDate | date: 'dd/MM/yyyy' }}</p> -->
            <input
              title="dueDate"
              type="datetime-local"
              [(ngModel)]="dueDate"
              class="border-none"
              (change)="updateTaskDueDate(dueDate())"
            />
          </div>
          <div class="flex gap-2">
            <span class="text-sm flex items-start gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"
                />
              </svg>

              Assigned to:
            </span>
            @if (assignedTo()) {
              <div class="flex rounded-lg px-2 bg-gray-400 py-1 gap-2 items-center">
                <div class="max-w-8">
                  <img
                    src="https://marketplace.canva.com/A5alg/MAESXCA5alg/1/tl/canva-user-icon-MAESXCA5alg.png"
                    alt=""
                  />
                </div>
                <div class="flex flex-col">
                  <span>{{ assignedTo()?.username }}</span>
                  <span class="text-sm text-gray-600 font-light">{{ assignedTo()?.email }}</span>
                </div>
              </div>
              <button class="bg-gray-400 rounded-sm p-2 h-fit place-self-center" (click)="openMembers()" #btnTrigger>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
                  />
                </svg>
              </button>
              @if (isOpenMembers()) {
                    <app-floating-dropdown
                      [trigger]="btnTrigger"
                      (onClose)="isOpenMembers.set(false)"
                    >
                      <div class="flex flex-col">
                        <input
                          title="Search member"
                          type="text"
                          [(ngModel)]="searchTerm"
                          (keyup.enter)="searchMembers(searchTerm())"
                        />
                        <div class="flex flex-col max-w-48 overflow-y-auto">
                          @for (member of filteredMembers(); track member.id) {
                            <div
                              class="flex px-2 py-1 gap-2 items-center hover:bg-emerald-50 cursor-pointer"
                              (click)="updateTaskMember(member.id)"
                            >
                              <div class="max-w-8">
                                <img
                                  src="https://marketplace.canva.com/A5alg/MAESXCA5alg/1/tl/canva-user-icon-MAESXCA5alg.png"
                                  alt=""
                                />
                              </div>
                              <div class="flex flex-col">
                                <span>{{ member.user.username }}</span>
                                <span class="text-sm text-gray-600 font-light">{{
                                  member.user.email
                                }}</span>
                              </div>
                            </div>
                          }
                        </div>
                      </div>
                    </app-floating-dropdown>
                  }
            } @else {
              @if (authProject.isProjectAdmin()) {
                <div class="flex flex-col">
                  <button
                    class="bg-gray-400 py-1 px-2 rounded-sm cursor-pointer"
                    #btnTrigger
                    (click)="openMembers()"
                  >
                    + Assign
                  </button>
                  @if (isOpenMembers()) {
                    <app-floating-dropdown
                      [trigger]="btnTrigger"
                      (onClose)="isOpenMembers.set(false)"
                    >
                      <div class="flex flex-col">
                        <input
                          title="Search member"
                          type="text"
                          [(ngModel)]="searchTerm"
                          (keyup.enter)="searchMembers(searchTerm())"
                        />
                        <div class="flex flex-col max-w-48 overflow-y-auto">
                          @for (member of filteredMembers(); track member.id) {
                            <div
                              class="flex px-2 py-1 gap-2 items-center hover:bg-emerald-50 cursor-pointer"
                              (click)="updateTaskMember(member.id)"
                            >
                              <div class="max-w-8">
                                <img
                                  src="https://marketplace.canva.com/A5alg/MAESXCA5alg/1/tl/canva-user-icon-MAESXCA5alg.png"
                                  alt=""
                                />
                              </div>
                              <div class="flex flex-col">
                                <span>{{ member.user.username }}</span>
                                <span class="text-sm text-gray-600 font-light">{{
                                  member.user.email
                                }}</span>
                              </div>
                            </div>
                          }
                        </div>
                      </div>
                    </app-floating-dropdown>
                  }
                </div>
              } @else {
                <div class="flex rounded-lg px-2 bg-gray-400 py-1 gap-2 items-center">
                  <div class="flex flex-col">
                    <span>No assigned</span>
                  </div>
                </div>
              }
            }
          </div>
          <div class="flex gap-2">
            <span class="text-sm flex items-start gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm1.294 6.336a6.721 6.721 0 0 1-3.17.789 6.721 6.721 0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z"
                />
              </svg>

              Created by:
            </span>
            <div class="flex rounded-lg px-2 bg-gray-400 py-1 gap-2 items-center">
              <div class="max-w-8">
                <img
                  src="https://marketplace.canva.com/A5alg/MAESXCA5alg/1/tl/canva-user-icon-MAESXCA5alg.png"
                  alt=""
                />
              </div>
              <div class="flex flex-col">
                <span>{{ t.createdBy.username }}</span>
                <span class="text-sm text-gray-600 font-light">{{ t.createdBy.email }}</span>
              </div>
            </div>
          </div>
          <div class="w-full flex justify-between gap-4">
            <div class="text-xs flex gap-1">
              <span class="font-light"> Created: </span>
              {{ t.createdAt | date: 'dd/MM/yyyy HH:mm' }}
            </div>
            <div class="text-xs flex gap-1">
              <span class="font-light"> Modified: </span>
              {{ t.updatedAt | date: 'dd/MM/yyyy HH:mm' }}
            </div>
          </div>
          @if (
            (authProject.isProjectAdmin() || auth.getId() === t.assignedTo?.id) && statusId() !== 4
          ) {
            <button
              class="bg-emerald-200 rounded-sm py-2 hover:bg-emerald-300 flex items-center gap-2 justify-center"
              (click)="updateTaskStatus()"
            >
              {{ buttonMessage(t.status.name) }}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                />
              </svg>
            </button>
          }
        </section>
      } @else {
        <section class="flex flex-col px-8 py-4 md:min-w-84 lg:min-w-104 gap-4 h-full">
          <div class="flex flex-wrap gap-2">
            <h2>{{ t.title }}</h2>
            <div class="flex {{ colorMap[t.priority] }} px-2 py-1 rounded items-center gap-2">
              <p class="font-semibold! justify-self-end self-center">{{ t.priority }}</p>
            </div>
          </div>
          <div class="flex flex-col h-fit">
            <span class="flex items-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
                />
              </svg>

              Descritpion
            </span>
            <p class="text-sm font-normal! px-0 py-1">
              {{ t.description }}
            </p>
          </div>
          <div>
            <span class="text-sm flex items-start gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
                />
              </svg>

              Due Date:
            </span>
            <p>{{ t.dueDate | date: 'dd/MM/yyyy' }}</p>
          </div>
          <div class="flex gap-2">
            <span class="text-sm flex items-start gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"
                />
              </svg>

              Assigned to:
            </span>
            @if (t.assignedTo) {
              <div class="flex rounded-lg px-2 bg-gray-400 py-1 gap-2 items-center">
                <div class="max-w-8">
                  <img
                    src="https://marketplace.canva.com/A5alg/MAESXCA5alg/1/tl/canva-user-icon-MAESXCA5alg.png"
                    alt=""
                  />
                </div>
                <div class="flex flex-col">
                  <span>{{ t.assignedTo.username }}</span>
                  <span class="text-sm text-gray-600 font-light">{{ t.assignedTo.email }}</span>
                </div>
              </div>
            } @else {
              <div class="flex rounded-lg px-2 bg-gray-400 py-1 gap-2 items-center">
                <div class="flex flex-col">
                  <span>No assigned</span>
                </div>
              </div>
            }
          </div>
          <div class="flex gap-2">
            <span class="text-sm flex items-start gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm1.294 6.336a6.721 6.721 0 0 1-3.17.789 6.721 6.721 0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z"
                />
              </svg>

              Created by:
            </span>
            <div class="flex rounded-lg px-2 bg-gray-400 py-1 gap-2 items-center">
              <div class="max-w-8">
                <img
                  src="https://marketplace.canva.com/A5alg/MAESXCA5alg/1/tl/canva-user-icon-MAESXCA5alg.png"
                  alt=""
                />
              </div>
              <div class="flex flex-col">
                <span>{{ t.createdBy.username }}</span>
                <span class="text-sm text-gray-600 font-light">{{ t.createdBy.email }}</span>
              </div>
            </div>
          </div>
          <div class="w-full flex justify-between gap-4">
            <div class="text-xs flex gap-1">
              <span class="font-light"> Created: </span>
              {{ t.createdAt | date: 'dd/MM/yyyy HH:mm' }}
            </div>
            <div class="text-xs flex gap-1">
              <span class="font-light"> Modified: </span>
              {{ t.updatedAt | date: 'dd/MM/yyyy HH:mm' }}
            </div>
          </div>
          @if (auth.getId() === t.assignedTo?.id && statusId() !== 4) {
            <button
              class="bg-emerald-200 rounded-sm py-2 hover:bg-emerald-300 flex items-center gap-2 justify-center"
              (click)="updateTaskStatus()"
            >
              {{ buttonMessage(t.status.name) }}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                />
              </svg>
            </button>
          }
        </section>
      }

      <section class="flex flex-col gap-2 px-8 py-4 max-w-96 max-h-full md:overflow-y-auto">
        <h2 class="flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
            />
          </svg>

          Comments
        </h2>
        <app-comment-chat></app-comment-chat>
      </section>
    </div>
  </app-modal-layout>
}
