<div class="flex w-full justify-center">
  <div class="flex flex-col items-center">
    <form  (submit)="onSubmit($event)" class="flex flex-col gap-4 w-96 m-4 font-semibold">
      <h1 class="text-center">Login</h1>
      <div class="flex flex-col gap-1">
        <label for="username">Username:</label>
        <input type="text" id="username" placeholder="Username" [formField]="loginForm.username" class="">
        @if (loginForm.username().touched() && loginForm.username().invalid()) {
          <ul class="error-list">
            @for (error of loginForm.username().errors(); track error.message) {
              <li class="text-red-500">{{ error.message }}</li>
            }
          </ul>
        }
      </div>
      <div class="flex flex-col gap-1">
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Password" [formField]="loginForm.password">
        @if (loginForm.password().touched() && loginForm.password().invalid()) {
          <ul class="error-list">
            @for (error of loginForm.password().errors(); track error.message) {
              <li class="text-red-500">{{ error.message }}</li>
            }
          </ul>
        }
      </div>
      <button type="submit" class="border-2" [disabled]="loginForm().invalid()">Log in</button>
    </form>
    <div>
      Don't have an account? <a href="/register" class="text-blue-500 underline">Regístrate</a>
    </div>
  </div>
</div>
