<section class="flex w-full h-full min-w-64 text-black">
  <div class="flex flex-col gap-2">
    <div class="flex gap-4 items-center">
      <img src="https://img.freepik.com/foto-gratis/joven-hombre-barbudo-camisa-rayas_273609-5677.jpg?semt=ais_hybrid&w=740&q=80" alt="" class="w-16 h-16 rounded-full border"/>
      <div>
        <h4>{{ profile().fullName }}</h4>
        <p>{{ profile().email }}</p>
      </div>
    </div>
    <div>
      <p class="text-wrap">Invite Code: <span class="font-bold">{{profile().id}}</span></p>
      <p></p>
    </div>
  </div>
</section>
