<a
  [routerLink]="['/p', project().id]"
  class="
    group relative flex flex-col justify-between
    h-36
    p-5
    bg-white border border-slate-200 rounded-xl
    shadow-sm transition-all duration-200
    hover:border-emerald-400 hover:shadow-md hover:-translate-y-1
    cursor-pointer overflow-hidden
  "
>
  <div class="flex flex-col gap-1">

    <h4 class="font-bold text-slate-800 text-base leading-tight truncate group-hover:text-emerald-600 transition-colors" title="{{ project().name }}">
      {{ project().name }}
    </h4>

    <p class="text-slate-500 text-sm leading-relaxed line-clamp-2 wrap-break-word">
      {{ project().description || 'No description provided.' }}
    </p>
  </div>

  <div class="mt-auto pt-3 flex items-center gap-1 text-xs text-slate-400 font-medium group-hover:text-emerald-600 transition-colors">
    <span>View Project</span>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3">
      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
    </svg>
  </div>
</a>
