<div class="fixed inset-0 z-50 flex justify-center px-2 py-8">
  <div
    class="absolute inset-0 bg-black/40 -z-10"
    (click)="onClose.emit()"
  ></div>
  <div
    class="bg-white rounded-lg shadow-lg shadow-black/20 flex flex-col w-full md:w-auto max-h-fit md:max-w-[95%]"
  >
    <header class="flex justify-between items-center border-b border-[#eee] px-4 py-2 shrink-0">
      <h3>{{ modalTitle() }}</h3>
      <button class="text-2xl button-nav" (click)="onClose.emit()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </header>
      <ng-content></ng-content>
  </div>
</div>
