/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-medium;
}

h4 {
  @apply text-lg font-normal;
}

p {
  @apply text-sm font-light;
}

input, textarea {
  @apply border border-gray-300 rounded-lg p-2 bg-gray-200;
}

:root {
  font-family:'Space Grotesk', serif;
}

app-root{
  display: flex;
  flex-direction: column;
  height: 100%;
}
