/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-medium;
}

h4 {
  @apply text-lg font-normal;
}

p {
  @apply text-sm font-light;
}

input, textarea {
  @apply text-sm rounded-sm px-2 py-1 border border-gray-300;
}

.form-filter > select,.form-filter > input,.form-filter > button {
  @apply border border-gray-300 rounded-sm px-2 py-1 bg-white;
}

.button-nav {
  @apply cursor-pointer hover:bg-black/20 rounded-sm p-1;
}

:root {
  font-family:'Space Grotesk', serif;
  scrollbar-color: #c0c0c0 #ffffff;
}

button {
  @apply cursor-pointer;
}
